<ion-content>
  <div>
    <section class="yellow" id="here">
      <ion-text>
        <h1 class="thanksTitle">Thank You . . .</h1>
        <p class="thanksBody">
          For being a valuable member at Mercedez-Benz South Orlando. We truly
          appreciate your trust in our abilities to provide you with the
          state-of-the-art vehicles for the top-of-the-line people such as
          yourselves. As a courtesy, Mercedez-Benz of South Orlando has worked
          on developing an app that allows you to easily access and manage your
          account information, update you on any V.I.P Events and specials
          happenings, and ease of access to all of the member services we
          provide.
        </p>
      </ion-text>
    </section>
  </div>
</ion-content>

<!-- [ngClass]="{ 'scroll-text': true, appear: scrollAnimationTriggered }" -->