ion-content.splash-screen {
    /* Disable touch events */
    touch-action: none;
  }

#imgBox {
    justify-content: center;
    transform: translateY(40%);
    left: 0;
    right: 0;
    flex: 1;
    display: flex;
    animation: Intro 2s ease-in-out;
}
  