<app-navbar></app-navbar>

<ion-content [scrollEvents]="true">
  <div class="video-background">
    <video id="video-id" loop muted autoplay playsinline preload="auto">
      <source src="assets/videos/cartlapse.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>
  <div id="circOne"> 
  </div>
  <div id="circTwo">
  </div>
  <div id="circTres">
  </div>
  <div id="circQuatro">   
  </div>
  <div id="circCinco">   
  </div>
  <div>
    <section class="yellow" id="here">
      <ion-text class="scroll-text.appear">
        <h1 class="thanksTitle">Home Hub</h1>
        <div class="bttnDisplay">
          <ion-button fill="clear" class="menu-item" (click)="menuItemClicked(1)"
            >Reservation</ion-button
          >
          <ion-button fill="clear" class="menu-item" (click)="menuItemClicked(2)"
            >Calendar</ion-button>
            <ion-button fill="clear" class="menu-item" (click)="menuItemClicked(3)"
            >Deals</ion-button>
        </div>
      </ion-text>
    </section>
  </div>
</ion-content>

<!-- (ionScroll)="onScroll($event)" -->